<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report a Complaint</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/report_complaint.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Report a Complaint</h1>
      <form method="post" action="{% url 'report_complaint' %}">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
